@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@font-face {
    font-family: "Dahlia";
    src: url('/final_project/fonts/dahlia-medium.eot');
    src: url('/final_project/fonts/dahlia-medium.woff2') format('woff2'),
         url('/final_project/fonts/dahlia-medium.woff') format('woff'),
         url('/final_project/fonts/dahlia-medium.ttf') format('truetype');
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    background-image: url('/images/background.jpg');

}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-image: url(/images/background.jpg);
    border: solid #1F442E;
    font-family: 'Syne', sans-serif;
    margin: 5px;
}

header *{
    display: inline;
    height: 50px;
}

header li{
    margin-left: 20px;
}

header img{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    height: 40px;
    width: 40px;
}

a:link{
    color: #1F442E;
    text-decoration: none;
}
a:visited{
    color:grey
}
a:hover{
    color: #2D6242;
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}

h1{
    font-size: 5em;
    font-family: "Dahlia", 'Vidaloka', serif;
    color: #1F442E;
}

section{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px;
    border: solid #1F442E;
    margin: 20px;
}

#lourdes{
    margin-top: 75px;
}


section h2{
    font-size: 2.5em;
    font-family: 'Syne', serif;
    color:#1F442E;
}

.profile_image {
    height: 300px; 
    width: 300px;
    border-radius: 50%;
}

p{
    margin-left: 50px;
    margin-right: 50px;
}

footer{
    text-align: center;
    padding: 50px;
}
